.flexContainer:last-child { margin-top: 2cm; }
body { margin: 0; padding: 0;}
div { height: 50px; width: 50px;}
div:nth-child(1) { background-color: red; width: 100px; height: 100px;}
div:nth-child(2) { background-color: blue; }
div:nth-child(3) { background-color: green; }
div:nth-child(4) { background-color: yellow; }
div:nth-child(5) { background-color: pink; }
div:nth-child(6) { background-color: black; }
div:nth-child(7) { background-color: orange; }
div:nth-child(8) { background-color: silver; }

.flexcontainer {
 height: 800px;
 display: flex; /* alinear los elementos uno al lado del otro */
 justify-content: space-between; /* generamos espacio hasta llenar el ancho de la pantalla*/
 align-items: center;
 flex-direction: column; 

 }

.flexItem { 

}